.container_car {
    background-color: rgb(235, 235, 243);
    width: 295px;
    height: 315px;
    margin: 120px;
    margin-bottom: 0;
    border-radius: 15px;
}

.list_cars {
    height: 220px;
    list-style: none;
    padding: 0;
    width: 295px;
    margin: 0;
    text-align: center;
}